<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.enjad">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- To get user location from gps and network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/enjadapplogoicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activities.SignupActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:icon="@drawable/enjadapplogoicon" />
        <activity
            android:name=".Activities.chatlistActivity"
            android:icon="@drawable/enjadapplogoicon" />
        <activity
            android:name=".Activities.EmrgTypeDialog"
            android:icon="@drawable/enjadapplogoicon" />
        <activity
            android:name=".Activities.HomPageActivity"
            android:icon="@drawable/enjadapplogoicon" />
        <activity
            android:name=".Activities.ReportlistActivity"
            android:icon="@drawable/enjadapplogoicon" />
        <activity
            android:name=".Activities.MainActivity"
            android:icon="@drawable/enjadapplogoicon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- uses-permission android:name="android.permission.GET_TASKS" / -->
        </activity>

        <receiver android:name=".Services.PowerButtonListenr">
            <intent-filter
                android:enabled="true"
                android:exported="false">
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <service android:name=".Services.ScreenOnOffService">
            <intent-filter>
                <action android:name=".ScreenOnOffService" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.getlocationService"
            android:exported="false" />

        <activity android:name=".Activities.TestActivity"></activity>

        <service android:name=".Services.FCMTokenInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".Services.MyFCMService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>