<?xml version="1.0" encoding="utf-8"?><!-- suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.enjad">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- To get user location from gps and network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/enjadapplogoicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activities.SignupActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity android:name=".Activities.chatActivity" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:icon="@drawable/enjadapplogoicon" />
        <activity
            android:name=".Activities.EmrgTypeDialog"
            android:icon="@drawable/enjadapplogoicon" />
        <activity
            android:name=".Activities.HomPageActivity"
            android:icon="@drawable/enjadapplogoicon" />
        <activity
            android:name=".Activities.MainActivity"
            android:icon="@drawable/enjadapplogoicon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- uses-permission android:name="android.permission.GET_TASKS" / -->
        </activity>

        <receiver android:name=".Services.PowerButtonListenr">
            <intent-filter
                android:enabled="true"
                android:exported="false">
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>

        <service android:name=".Services.ScreenOnOffService">
            <intent-filter>
                <action android:name=".ScreenOnOffService" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.getlocationService"
            android:exported="false" />

        <activity android:name=".Activities.TestActivity" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/enjadapplogoicon" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimaryRed" />
        <!-- [END fcm_default_icon] -->
        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />

        <service
            android:name=".Services.FCMTokenInstanceIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.MyFCMService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.ReportlistActivity"
            android:label="@string/app_name"></activity>
        <activity android:name=".Activities.reportInfoDailog"></activity>
    </application>

</manifest>